body {
    background: #343D46;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    color: #DEE1EE;
    text-decoration: none;
}

a:hover {
    color: #63717F;
}

.main {
    margin-left: 20%;
    margin-right: 20%;
}

.box {
    margin: 100px auto;
    width: 300px;
    height: 40px;
}

.container-1 {
    position: relative;
    white-space: nowrap;
    width: 265px;
    vertical-align: middle;
}

.container-1 input#search {
    background: #2B303B;
    border: none;
    border-radius: 2px;
    color: #63717F;
    float: left;
    font-size: 10pt;
    height: 40px;
    padding-left: 45px;
    width: 265px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
}

.container-1 .search-icon {
    position: absolute;
    top: 50%;
    margin-left: 12px;
    margin-top: 12px;
    z-index: 1;
    color: #4f5b66;
}

.display-field {
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    width: 500px;
}

.list-item {
    border: 1px solid #DEE1EE;
    border-radius: 2px;
    color: #DEE1EE;
    display: inline-block;
    font-size: 14px;
    height: 100px;
    margin: 5px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: 225px;
    vertical-align: middle;
}

.footer-section {
    color: #DEE1EE;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.angle {
    font-size: 15px;
    margin-left: 10px;
}

.angle-red {
    color: #B92D31;
}

.angle-green {
    color: #39B93C;
}